
/*
.dimension:hover line,
.dimension:hover path,
.dimension.active line,
.dimension.active path {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
}
*/


.dimension.title .tick text {
  opacity: 0.5;
  font-size: 0.5px;
}

.dimension.title .tick text:hover {
  opacity: 1;
  font-size: 20px;
}

.dimension .var_name {
  opacity: 0.5;
  font-size: 13px;
}

.dimension:hover .var_name {
  opacity: 1;
  font-size: 17px;
  font-weight: bold;
}



.brush rect.extent {
  fill: rgba(100,100,100,0.15);
  stroke: #fff;
}
.dark .brush rect.extent {
  fill: rgba(100,100,100,0.15);
  stroke: #ddd;
}
.brush:hover rect.extent {
  stroke: #222;
  stroke-dasharray: 5,5;
}
.brush rect.extent:hover {
  stroke-dasharray: none;
}



.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}
#correlation_content {

  background-color: #55f;

}

pre {
  width: 100%;
  height: 300px;
  margin: 6px 12px;
  tab-size: 40;
  font-size: 10px;
  overflow: auto;
}
