/*---- Speakers graph svg ----*/

#speakers_content svg {
  overflow: visible;
}

/*---- Range slider above graph ----*/

.bubblechart_slider {
  width: 550px;
  position: absolute;
  padding: 4px 5px;
  margin: 0px 6px;
  -webkit-appearance: none;
  background:linear-gradient(90deg,  rgb(230, 43, 30) 1%,rgb(206, 47, 63) 3%,rgb(193, 48, 80) 10%, rgb(181, 50, 96) 20%, rgb(169, 52, 113) 32%,  rgb(157, 54, 129) 45%,  rgb(144, 55, 146) 60%, rgb(132, 57, 162) 90%);
  outline: none;
  opacity: 0.8;
  border: 0.3px solid white;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 1px black;

}

.bubblechart_slider:hover {
  opacity: 1;
}

.bubblechart_slider::after {
  content: 'ALL';
  color: black;
  font-size: 16px;
  position: absolute;
  left: 95%;
  top: 110%;
}

.bubblechart_slider::before {
  content: '1';
  color: black;
  font-size: 16px;
  position: absolute;
  left: 1.8%;
  top: 110%;
}

/*---- Range slider value appearing in front of bubbles ----*/

.bubblechart_slider_value {
    font-size: 200px;
    font-family: fantasy;
    fill: black;
    text-anchor: middle;
    alignment-baseline: central;
}

/*---- Slider "balloon", chrome settings ----*/

.bubblechart_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/*---- Slider "balloon", mozilla settings ----*/

.bubblechart_slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/*--x-axis that appears in front of the graph avg_views and # of talks views--*/

.bubblechart_xAxis {
    color:#e62b1e;
    stroke-width: 3px;
  }

.bubblechart_xAxis:hover {
    fill-opacity: 1;
}

.bubblechart_xAxis text {
  font-size: 25px;
  font-weight: bold;
  text-anchor: end;
  text-shadow: black 2px 2px 2px;
}