#topbar + .content {
  padding-top: 53px;
}

#topbar{
  position: fixed;
  top: 0;
  width: 100%;
}

#topbar-row:after, #topbar-row:before {
  content: "";
  display: table;
  clear: both;
}

.tp-holder {
  width: 14.285714286%; /*width:12.5%;*/
  float: left;
}

.tp-column{
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  width: 100%;
}

#topbar-row, .prev, .next{
  color: #fff;
  background-color: #000;
}

.prev, .next{
  width: 15%;
  float: right;
}

#topbar-row {
  padding: 8px 16px;
}

.prev:hover, .next:hover, .tp-column:hover{
  color: #000;
  background-color: #ccc;
}

.tp-column.active {
  color: #fff;
  background-color: #e62b1e;
}

.tp-column.active:hover {
  color: #000;
  background-color: #ccc;
}

