/* ------ topbar --------------*/
#topbar{
  position: fixed;
  top: 0;
  width: 100%;
}

#topbar + .content { 
  padding-top: 7vh;
}

#topbar-row{
  color: #fff;
  background-color: #000;
  /* ---- Flex container utilities ----*/
  display: flex;
  flex-wrap: nowrap;
}

#topbar-row:after, #topbar-row:before {
  content: "";
  display: table;
  clear: both;
}

/* ------ elements inside topbar --------------*/
.tp-holder {
  /* ---- Flex container utilities ----*/
  width: 100%;
  margin: 0px;
  text-align: center;
}

.tp-column{
  border: none;
  padding: 16px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  white-space: nowrap;
  display: block;
}

.tp-column:hover{
  color: #000;
  background-color: #ccc;
}

.tp-column.active {
  color: #fff;
  background-color: #e62b1e;
}

.tp-column.active:hover {
  color: #000;
  background-color: #ccc;
}

/* ------ next button has some common characteristics --------------*/
.next{
  padding: 8px 16px;
  overflow: visible;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: block;
  color: #fff;
  background-color: #000;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  float: right;
}
.next:hover {
  color: #000;
  background-color: #ccc;
}
