/* ------ topbar --------------*/
#topbar{
  position: fixed;
  top: 0;
  width: 100%;
}

#topbar + .content { 
  padding-top: 53px;
}

#topbar-row{
  color: #fff;
  background-color: #000;
  padding: 8px 16px;
}

#topbar-row:after, #topbar-row:before {
  content: "";
  display: table;
  clear: both;
}

/* ------ elements inside topbar --------------*/
.tp-holder {
  width: 14.285714286%; /*width:12.5%;*/
  float: left;
}

.tp-column{
  border: none;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.tp-column:hover{
  color: #000;
  background-color: #ccc;
}

.tp-column.active {
  color: #fff;
  background-color: #e62b1e;
}

.tp-column.active:hover {
  color: #000;
  background-color: #ccc;
}


/* ------ next button has some common characteristics --------------*/
.next{
  color: #fff;
  background-color: #000;
  border: 2px solid black;
  border-radius: 5px;
  width: 15%;
  float: right;
}
.next:hover {
  color: #000;
  background-color: #ccc;
}
